<!doctype html>
<html lang="zh">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:image" content="preview.png" />
        <title>特區記者會 BINGO</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-lightbox@2.1.0/dist/simpleLightbox.min.css">
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.3/dist/html2canvas.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-lightbox@2.1.0/src/simpleLightbox.min.js"></script>
    </head>
    <body style="margin-top: 10px">
        <div id="app" style="margin: auto;max-width: 500px;">
            <ul class="nav nav-pills">
                <li class="nav-item" v-for="item in configs">
                    <a class="nav-link" v-bind:class="{'active': item.selected}" v-on:click="switchBoard(item)" href="#">{{item.title}}</a>
                </li>
                <li class="nav-item">                    
                    <a class="nav-link" v-on:click="share" href="#">Screen Cap 分享</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/compustar/hkgov_bingo">
                        <span class="d-none d-sm-inline">View on GitHub </span><svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    </a>
                </li>
            </ul>
            <br/>
            <table id="board" class="table table-bordered text-center">
                <thead>
                <tr>
                    <th colspan="5" class="text-center"><h1>{{config.title}}</h1></th>
                </tr>
                <tr>
                    <th colspan="5" class="text-center" v-bind:class="{'table-success': isBingo}"><h1>{{config.banner}}</h1></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in table">
                    <td v-for="item in row" v-bind:class="{'table-danger': item.selected}" v-on:click="toggleSelected(item)">{{item.text}}</td>
                </tr>
                </tbody>
            </table>
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/compustar/hkgov_bingo/fork" data-size="large" data-show-count="true" aria-label="Fork compustar/hkgov_bingo on GitHub">Fork</a>
        </div>
        <script>
                // const axios = require('axios');
                var app = new Vue({
                    el: '#app',
                    data: {
                        table: [[],[],[],[],[]],
                        config: {},
                        isBingo: false,
                        showLightbox: false,
                        configs: {
                            "press":  {
                                items: "press.txt",
                                title: "記者錄音機",
                                banner: "B I N G O",
                                selected: true
                            },
                            "ce":  {
                                items: "ce.txt",
                                title: "林鄭錄音機",
                                banner: "B I N G O",
                                selected: false
                            },
                            "dog":  {
                                items: "dog.txt",
                                title: "黑警",
                                banner: "B I N G O",
                                selected: false
                            },
                        }
                    },
                    methods: {
                        share: function(){
                            html2canvas(document.querySelector("#board")).then(canvas => {
                                var img = canvas.toDataURL();
                                SimpleLightbox.open({
                                    items: [img]
                                });
                            });
                        },
                        switchBoard: function(item) {
                            load(item)
                        },
                        toggleSelected: function(item) {
                            item.selected = !item.selected;
                            app.isBingo = false;
                            checkBingo(app.table);
                        }
                    },
                });

                function checkBingo(table) {
                    for (i = 0; i < 5; i++) {
                        countX = 0;
                        countY = 0;
                        countD1 = 0;
                        countD2 = 0;
                        for (j = 0; j < 5; j++) {
                            if (table[i][j].selected) {
                                countY++;
                                if (countY == 5) {
                                    app.isBingo = true;
                                    return;
                                }
                            }
                            if (table[j][i].selected) {
                                countX++;
                                if (countX == 5) {
                                    app.isBingo = true;
                                    return;
                                }
                            }
                            if (i == 0 && table[j][j].selected) {
                                countD1++;
                                if (countD1 == 5) {
                                    app.isBingo = true;
                                    return;
                                }
                            }
                            if (i == 0 && table[4 - j][j].selected) {
                                countD2++;
                                if (countD2 == 5) {
                                    app.isBingo = true;
                                    return;
                                }
                            }
                        }
                    }
                }

                function load(config) {
                    for (var key in app.configs){
                        app.configs[key].selected = false;
                    }
                    app.isBingo = false;
                    app.table = [[],[],[],[],[]];
                    app.config = config;
                    app.config.selected = true;

                    axios.get(config.items)
                        .then(function (response) {
                            let statements = response.data.split("\n");
                            let chosen = {}
                            for (i = 0; i < 25; i++) {
                                row = Math.floor(i / 5);
                                
                                x = Math.floor(Math.random() * statements.length);
                                while (chosen[x] || statements[x] == "") {
                                    x = Math.floor(Math.random() * statements.length);
                                }
                                chosen[x] = true;
                                app.table[row].push({text:statements[x], selected: false});
                            }
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        });
                }
    
                load(app.configs.press);
            </script>
            <!-- Place this tag in your head or just before your close body tag. -->
            <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
